.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}

form {
	display: flex;
	gap: 10px;
	margin: 10px 0;
}

form + div {
	display: flex;
	justify-content: center;
	gap: 10px;
}